<div *ngIf="posts" class="container">
  <mat-card class="card" *ngFor="let post of posts">
    <mat-card-header>
      <h2>
        {{ post.title }}
      </h2>
    </mat-card-header>
    <mat-card-content style="overflow: auto; max-height: 400px">
      <div [innerHTML]="post.content"></div>
    </mat-card-content>
    <mat-card-footer class="footer">
      <img src="{{ post.author.avatar_URL }}" />
      <h3>{{ post.author.name }}</h3>
      <p>{{ post.date | date : "short" }}</p>
    </mat-card-footer>
  </mat-card>
</div>

<div *ngIf="isLoadingPost" class="container">
  <ngx-skeleton-loader
    count="3"
    animation="pulse"
    [theme]="{
      'border-radius': '5px',
      height: '726px',
      width: '300px',
      border: '1px solid white',
      margin: '20px'
    }"
    appearance="line"
  ></ngx-skeleton-loader>
</div>

<div *ngIf="postError" style="color: #fff">{{ postError }}</div>
